{
	"app_icon": "../images/app.bmp",
	"app_title": "test application",
	"enable_clipboard": true,
	"enable_command_line": true,
	"enable_debug_window": false,
	"enable_edit": true,
	"enable_navigation": true,
	"enable_printing": true,
	"enable_reload": true,
	"enable_search": true,
	"enable_select"	: true,
	"enable_title_change": true,
	"enable_toolbar": true,
	"enable_view_source": true,
	"enable_view_text": true,
	"enable_zoom": true,
	"home_url": "https://www.dawdevel.ca",
	"url_validators": [
		{ "is_regex": false, "url": "https://www.dawdevel.ca" },
		{ "is_regex": false, "url": "https://o1fast.com" }
		]
}
